.card1 {
    background-color: rgb(238, 76, 76);
    color: aliceblue;

}
.card2 {
    background-color: rgb(110, 154, 250);
    color: aliceblue;
}
.card3 {
    background-color: rgb(236, 169, 26);
    color: aliceblue;
}